// Define variables for your color scheme

// For example:
$red: #C7202E;
$blue: #002654;
$light-blue: #D2EEFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #278406;
$gray: #0E0000;
$light-gray: #F6FBFF;


$rouge_terne: #FF7676;
$bleu_terne: #466C95;
$vert_terne: #5DAE8B;
$jaune_terne: #F6F49D;
