  <%= link_to "Ajouter une mesure", new_mesure_path, class:"btn btn-primary mt-3" %>
<div class="row gap-4">
  <%= render partial: "shared/small_mesure_card", locals: {mesures: @mesures} %>
  <%= render partial: "shared/messages_tab", locals: {comments: [Comment.new(user: current_user,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris diam, suscipit mattis dolor a, iaculis sagittis arcu. Etiam dignissim, sem a pulvinar scelerisque, tellus nulla tempor dui, a sodales lorem justo eget ipsum. Nulla vitae ex a neque pharetra pulvinar."), Comment.new(user: current_user, content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris diam, suscipit mattis dolor a, iaculis sagittis arcu. Etiam dignissim, sem a pulvinar scelerisque, tellus nulla tempor dui, a sodales lorem justo eget ipsum. Nulla vitae ex a neque pharetra pulvinar.")]} %>
</div>
