<%= link_to "Ajouter une mesure", new_mesure_path, class:"btn btn-primary mt-3" %>
<div class="m-0 row g-2">
  <%= render partial: "shared/small_mesure_card", locals: {mesures: @mesures} %>
  <%= render partial: "shared/messages_tab", locals: {comments: @comments } %>
</div>
