<div class="col-8">
  <%= render partial: "shared/comment", locals: {comments: @comments } %>
</div>

<%= link_to "Ajouter une mesure", new_mesure_path %>

<script>
  function toggleSubComments(commentId) {
    var subCommentsContainer = document.getElementById('sub-comments-container-' + commentId);
    if (subCommentsContainer.style.display === 'none') {
      subCommentsContainer.style.display = 'block';
    } else {
      subCommentsContainer.style.display = 'none';
    }
  }

function toggleReplyForm(commentId) {
  var formContainer = document.getElementById('reply-form-container-' + commentId);
  formContainer.style.display = (formContainer.style.display === 'none') ? 'block' : 'none';
}
</script>
