<div class="light-grey p-1">
  <div class="d-flex gap-1 my-0">
    <i class="fa-regular fa-comment-dots text-primary"></i>
    <p class="m-0">: En cours de concertation </p>
  </div>
  <div class="d-flex gap-1 my-0">
    <i class="fa-solid fa-xmark text-danger"></i>
    <p class="m-0">: Refusée</p>
  </div>
  <div class="d-flex gap-1 my-0">
    <i class="fa-regular fa-square-check text-success"></i>
    <p class="m-0">: Validée</p>
  </div>
</div>
