<div class="comment-votes"><%= @element.votes_for.size %><i class="fa-regular fa-thumbs-up m-2"></i></div>
<div class="comment-votes"><%= @element.get_downvotes.size %><i class="fa-regular fa-thumbs-down m-2"></i></div>
