<div class="col-md-5 box-shadow p-0">
<h3 class="titre-map">Observations Citoyennes</h3>
    <div style="width: 100%; flex: grow;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <div class="position-bottom-map justify-content-between">
      <%= link_to "Faire une observation", new_observation_path, class: "btn btn-danger" if btn_red%>
    </div>
  </div>
