.blue-box {
  background-color: $light-blue;
  color: $blue;
  border-radius: 4px;
  padding: 12px;
  position: relative;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.15 ) ;
  z-index: 0;

  p {
    font-size: 12px;
    font-weight: lighter;
  }

  .votes {
    display: flex;
    width: 60px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
  }

  .votes-medium {
    display: flex;
    width: 60px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
  }

  .votes-small {
    display: flex;
    width: 60px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 100%;
  }

  h3 {
    text-align: center;
    background-color: $light-gray;
    border-radius: 4px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    background-color: $light-gray;
    border-radius: 4px;
    padding: 4px 8px 4px 16px;
    margin-top: 8px;
    flex-grow: 1;
    position: relative;

    h5 {
      margin: 0;
      font-weight: bolder;
      font-size: 18px;
    }

    p {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
  }

  .date {
    width: 200px;
  }

  .page-link {
    text-decoration: underline;
    background-color: $light-gray;
    margin-right: 4px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    align-items: center;
  }
  .right-corner {
    position: absolute;
    top: 4px;
    right: 8px;
  }
}

.fa-thumbs-down {
  color: $red;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.small-white-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
  padding: 4px 8px 4px 8px;
  margin-top: 4px;
  flex-grow: 1;

  border-radius: 8px;

  .name {
    margin: 0;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    margin: 0;
  }

  .time {
    font-size: 10px;
    width: 50px;
  }
}

.box-shadow {
  position: relative;
  box-shadow: 1px 1px 5px $light-gray;
.position-bottom-map {
  position: absolute;
  top: 12px;
  right: 24px;
  display: flex;

  .btn {
    font-size: 12px;
  }
}

}
.blue-text {
  font-family: 'Poppins', sans-serif;
  color: $blue;
  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  strong {
    color: $red;
  }
}
.no-radius-top-left {
  border-top-left-radius: 0 !important;
}
