.blue-box {
  background-color: #BAD7E9;
  color: #002654;
  border-radius: 4px;
  padding: 12px;
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 5px #BAD7E9;
  p {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
  }

  .votes {
    display: flex;
    width: 60px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
  }

  .votes-medium {
    display: flex;
    width: 60px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
  }

  .votes-small {
    display: flex;
    width: 60px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 100%;
  }

  h3 {
    text-align: center;
    background-color: #F6FBFF ;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6FBFF;
    padding: 4px 8px 4px 16px;
    margin-top: 4px;
    flex-grow: 1;
    h5 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
  }

  .btn-link {
    transition: 0.2s;
  }
  .btn-link:hover {
    background-color: #BBD7E9;
    border-radius: 10px;

  .date {
    width: 200px;
  }
}
.fa-thumbs-down {
  color: $red;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none;
  }

a.mapboxgl-ctrl-logo {
  display: none;
}

.small-white-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6FBFF;
  padding: 4px 8px 4px 8px;
  margin-top: 4px;
  flex-grow: 1;
  .name {
    margin: 0;
    font-size: 14px;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
  .time {
    font-size: 10px;
    width: 50px;
  }
}

.position-bottom-map {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  display: flex;
  .btn {
    font-size: 12px;
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6FBFF;
  padding: 4px 8px 4px 8px;
  margin: 4px;
  flex-grow: 1;
  border-radius: 10px;
  p {
    font-size: 16px;
      text-align: center;
      font-style: normal;
  }
  .name {
    margin: 0;
    font-size: 14px;
  }
  .time {
    margin: 0;
    font-size: 12px;
    font-style: italic;
  }
  .answers {
    display: flex;
  }
}


.sub-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6FBFF;
  padding: 4px 8px 4px 8px;
  margin-top: 4px;
  margin-left: 10ch;
  margin-right: 4px;
  flex-grow: 1;
  opacity: 0.8;
  border-radius: 10px;
  p {
    font-size: 14px;
    text-align: center;
    font-style: normal;
  }
  .name {
    margin: 0;
    font-size: 12px;
  }
  .time {
    margin: 0;
    font-size: 10px;
    font-style: italic;
  }
}
