.btn-validation {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.btn-round-selectable {
  border-radius: 8px;
  padding: 0 8px 0 8px;
  color : $light-gray;
  background-color: $blue;
  border: none;
  outline: none;
  .active {
    color: $blue;
    background-color: $light-gray;
    border: 1px solid $blue;
  }
  .btn-round-selectable:hover {
    color: $blue;
    background-color: $light-gray;
    border: 1px solid $blue;
  }

}
