.red {
  background-color: $rouge_terne;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}

.blue {
  background-color: $bleu_terne;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}

.green {
  background-color: $vert_terne;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}

.yellow {
  background-color: $jaune_terne;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $blue;
}
.light-grey {
  background-color: $light-gray;
  border-radius: 4px;
}
