.red {
  background-color: $red;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}

.blue {
  background-color: #1343A9;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}

.green {
  background-color: $green;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}

.yellow {
  background-color: $yellow;
  padding: 0 8px 0 8px;
  border-radius: 8px;
  color: $light-gray;
}
.light-grey {
  background-color: $light-gray;
  border-radius: 4px;
}
