.div_status {
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;

  p {
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-right: auto;
  }

  i {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black;
  }
}

.wrapped {
  flex-wrap: wrap;
}
