.footer {
  background: #C7202E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: #FAFDFF;
  position: static;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FAFDFF;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.view-container {
  min-height: calc(100vh - 60px);
  margin-bottom: 30px;
}
