.nav-tabs {

  .nav-link.active {
    color: #002654;
    background-color: #BAD7E9;
  }
  .nav-link {
    color: #002654;
    background-color: #F6FBFF;
    font-size: 14px;
    font-weight: bold;
  }

  .nav-link:hover {
    color: #BAD7E9;
  }
  #red-tab {
    color: $red;
  }
}
