.nav-tabs {

  .nav-link.active {
    color: $blue;
    background-color: $light-blue;
  }
  .nav-link {
    color: #002654;
    background-color: $light-gray;
    font-size: 14px;
    font-weight: bold;
  }
  .nav-link.nav-link.active:hover {
    color: $light-gray
  }

  .nav-link:hover {
    color: $light-blue;
  }
  #red-tab {
    color: $red;
  }
}
