.like-box {
  width: 75px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 2px;
  position: relative;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.number {
  font-size: 15px;
  font-style: italic;
  position: absolute;
  right: 5px;
  bottom: -5px;
}
.logo {
  font-size: 56px;
  margin: 2px;
  position: relative;
  color: $red;
  transition: color 0.4s;
}

.like-box.clicked .logo {
  color: blue;
}

.highlight {
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 0px;
  z-index: -1;
  background-color: #F2BB05;
  height: 25%;
  width: 0%;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.like-box:hover .highlight {
  width: 100%;
}

.small-like-box {
  display: flex;
  align-items: center;
  margin: 2px;

  .small-number {
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    text-align: center;
  }

  .small-logo {
    font-size: 20px;
    margin: 4px;
  }
}
