.like {
  justify-content: space-between;
  margin: 5% 3%;
}
.top {
  align-items: flex-start;
}
.line-1 {
  height: 1px;
  background: $blue;
  opacity: 0.5;
  width: 95%;
  display: flex;
  justify-content: center;
}
.category-status {
  margin: 1%;
}

.mid-item {
  margin: 10px;
}

.description {
  margin: 20px 0px 25px;
}

.boutons {
  margin: 10px 0px 0px;
  width: 40%;
  display: flex;
  justify-content: end;
  width: 100%;
}

.small-bouton {
  font-size: 14px !important;
  padding: 1px 6px 1px;
}

.like-box {
  display: flex;
  margin-left: 2px;
}
.number {
  font-size: 15px;
  font-style: italic;
}
.logo {
  font-size: 20px;
  color: $red;
  transition: color 0.4s;
  margin-left: 4px;
}
.small-like-box {
  display: flex;
  align-items: center;
  margin: 2px;

  .small-number {
    font-size: 14px;
    font-weight: bold;
    width: 21px;
    text-align: center;
  }

  .small-logo {
    font-size: 18px;
    margin: 4px;
    text-decoration: none;
  }
}
