.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  color: $light-gray;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 10;

  a {
    color: $light-gray;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
  }

  #public {
    font-weight: light;
    font-family: 'Brygada 1918', serif;
  }

  .nav-link:hover {
    color: $light-blue;
  }

  .navbar-brand:hover {
    color: $light-gray;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
  border-radius: 6px;
}

.navbar-toggler-icon {
  color: $light-gray;
}

.dropdown-menu {
  background: $blue;
}
