.navbar-lewagon {
  justify-content: space-between;
  background: #002654;
  color: #FAFDFF;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 1;

  a {
    color: #FAFDFF;
  }

  h3 {
    font-family: 'Fasthand', cursive;
    font-size: 36px;
  }

  .nav-link:hover {
    color: #BAD7E9;
  }

  .navbar-brand:hover {
    color: #FAFDFF;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
  border-radius: 6px;
}

.navbar-toggler-icon {
  color: #FAFDFF;
}

.dropdown-menu {
  background: #002654;
}
